<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.yh.mapper.CollectionThemeMapper">





    <!--  用户收藏帖子  更改人：rongjing 时间：2019/10/07-->
    <insert id="insertThemeToCollection" parameterType="string">
        insert into t_collection_theme (user_id,theme_id,collection_theme_id) values (#{userId},#{themeId},#{collectionThemeId})
    </insert>
    


    <!--  用户取消收藏帖子  更改人：rongjing    时间：2019/10/07  -->
    <delete id="deleteThemeToCollection" parameterType="string">
        delete from t_collection_theme where user_id = #{userId} and theme_id = #{themeId}
    </delete>



</mapper>