<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yh.mapper.CourseSysMapper">

    <resultMap id="CourseSysMap" type="CourseSys" autoMapping="true">
        <id column="course_sys_id" property="courseSysId"/>
        <result column="teacher_user_id" property="teacherUserId"/>
        <association property="teacher" select="com.yh.mapper.UserMapper.findUserByUserId" column="teacher_user_id"/>
        <collection property="videoCourseList" select="com.yh.mapper.VideoCourseMapper.findVideoCourseByCourseSysId" column="course_sys_id"/>
    </resultMap>

    <select id="findComprehensiveCourseSys" resultMap="CourseSysMap">
        SELECT
        t_course_sys.course_sys_id,
        t_course_sys.course_sys_name,
        t_course_sys.course_sys_watch_number,
        t_course_sys.course_sys_update_time,
        t_course_sys.course_sys_img_url,
        t_course_sys.teacher_user_id
        FROM
        t_course_sys
    </select>

    <select id="findHottestCourseSys" resultMap="CourseSysMap">
        SELECT
        t_course_sys.course_sys_id,
        t_course_sys.course_sys_name,
        t_course_sys.course_sys_watch_number,
        t_course_sys.course_sys_update_time,
        t_course_sys.course_sys_img_url,
        t_course_sys.teacher_user_id
        FROM
        t_course_sys
        ORDER BY t_course_sys.course_sys_watch_number DESC
    </select>

    <select id="findLatestCourseSys" resultMap="CourseSysMap">
        SELECT
        t_course_sys.course_sys_id,
        t_course_sys.course_sys_name,
        t_course_sys.course_sys_watch_number,
        t_course_sys.course_sys_update_time,
        t_course_sys.course_sys_img_url,
        t_course_sys.teacher_user_id
        FROM
        t_course_sys
        ORDER BY t_course_sys.course_sys_update_time DESC
    </select>

</mapper>