<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yh.mapper.TypeMapper">

    <select id="findAllType" resultType="Type">
        SELECT
        t_type.type_id,
        t_type.type_name
        FROM
        t_type
    </select>

    <select id="findTypeByTypeId" resultType="Type" parameterType="Integer">
        SELECT
        t_type.type_id,
        t_type.type_name
        FROM
        t_type
        WHERE
        t_type.type_id = #{typeId}
    </select>

</mapper>