<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.mapper.UserMapper">
    <insert id="addUserByPhone" >
        insert into t_user (user_id,phone,password) values (#{userId},#{phone},#{password})
    </insert>
    <insert id="addUserByEmail">
         insert into t_user (user_id,email,password) values (#{userId},#{email},#{password})
    </insert>
</mapper>