<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
dao层接口的全限定名和namespace一样
dao层接口中的方法名和映射文件中增删改查配置的statement id一致
方法的参数和配置的输入参数保持一致
方法的返回值类型和配置中返回类型保持一致
 -->
<mapper namespace="com.yh.mapper.UserMapper">
    <!--author:zxs-->
    <select id="findAllUser" resultMap="user_card">
        select * from t_user u,t_user_type ut where u.user_type_id = ut.user_type_id
    </select>

    <select id="getGoldenUserForTch" resultMap="user_card">
        select *  from t_user u,t_user_type ut where u.user_type_id = ut.user_type_id and u.user_type_id = 4
    </select>

    <select id="findHotSuperUserById" resultType="User" parameterType="java.util.List">
        select * from t_user where user_id in
        <foreach item="ids" collection="list" open="(" separator="," close=")" index="index">
            #{ids.userId}
        </foreach>
    </select>

    <select id="findHotSuperUserShowNumById" resultType="Integer" parameterType="java.util.List">
        select count(1) from t_theme where theme_user_id in
        <foreach item="ids" collection="list" open="(" separator="," close=")" index="index">
            #{ids.userId}
        </foreach>
        GROUP BY
        t_theme.theme_user_id
    </select>

    <resultMap id="user_card" type="User" >
        <!--主键-->
        <id column="user_id" property="userId"></id>
        <!--普通属性-->
        <result column="id" property="id"></result>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="phone" property="phone"></result>
        <result column="email" property="email"></result>
        <result column="user_img_url" property="userImgUrl"></result>
        <result column="user_info" property="userInfo"></result>
        <association property="userType" javaType="UserType" >
            <id property="userTypeId" column="user_type_id"></id>
            <result property="userTypeName" column="user_type_name"></result>
        </association>
    </resultMap>
    <!--end:zxs-->


    <insert id="addUserByPhone" >
        insert into t_user (user_id,phone,password,user_img_url) values (#{userId},#{phone},#{password},#{userImgUrl})
    </insert>
    <insert id="addUserByEmail">
         insert into t_user (user_id,email,password,user_img_url) values (#{userId},#{email},#{password},#{userImgUrl})
    </insert>

    <select id="findAllUserByUserId" parameterType="list" resultType="com.yh.entity.User">
        <if test="list.size >0">
            select user_id,id,username,phone,email,user_img_url,user_info from t_user
            <where>
                <foreach collection="list" item="item" open="user_id in (" close=")" separator=",">
                    #{item}
                </foreach>
            </where>
        </if>
        <if test="list.size ==0">
            select user_id,id,username,phone,email,user_img_url,user_info from t_user where user_id ='0';
        </if>
    </select>
    <update id="updateUserInformation" parameterType="com.yh.entity.User">
        update t_user set
        <if test="id!=null">
             id = #{id},
        </if>
        <if test="username!=null">
            username = #{username},
        </if>
        <if test="password!=null">
            password = #{password},
        </if>
        <if test="phone!=null">
            phone = #{phone},
        </if>
        <if test="email!=null">
            email = #{email},
        </if>
        <if test="userInfo!=null">
            user_info = #{userInfo},
        </if>
        <if test="userImgUrl!=null">
            user_img_url = #{userImgUrl},
        </if>
         user_id = #{userId}
         where user_id = #{userId}
    </update>
</mapper>