<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yh.mapper.VideoCourseMapper">

    <resultMap id="VideoCourseMap" type="VideoCourse" autoMapping="true">
        <id column="video_course_id" property="videoCourseId"/>
        <result column="type_id" property="typeId"/>
        <association property="type" select="com.yh.mapper.TypeMapper.findTypeByTypeId" column="type_id"/>
        <association property="uploadUser" select="com.yh.mapper.UserMapper.findUserByUserId" column="upload_user_id"/>
        <association property="teacherUser" select="com.yh.mapper.UserMapper.findUserByUserId" column="teacher_user_id"/>
        <collection property="tagList" select="com.yh.mapper.TagMapper.findTagByVideoCourseId" column="video_course_id"/>
    </resultMap>

    <select id="findLatestSingleVideoCourse" resultType="VideoCourse">
        SELECT
        t_video_course.video_course_id,
        t_video_course.video_course_name,
        t_video_course.video_title,
        t_video_course.video_info,
        t_video_course.type_id,
        t_video_course.video_course_url,
        t_video_course.video_course_img_url,
        t_video_course.upload_user_id,
        t_video_course.upload_time,
        t_video_course.teacher_user_id,
        t_video_course.watch_number,
        t_video_course.video_price,
        t_video_course.course_type_id
        FROM
        t_video_course
        WHERE
        t_video_course.course_type_id = 1
        ORDER BY
        t_video_course.upload_time DESC
        LIMIT 0, 10
    </select>

    <select id="findHottestSingleVideoCourse" resultType="VideoCourse">
        SELECT
        t_video_course.video_course_id,
        t_video_course.video_course_name,
        t_video_course.video_title,
        t_video_course.video_info,
        t_video_course.type_id,
        t_video_course.video_course_url,
        t_video_course.video_course_img_url,
        t_video_course.upload_user_id,
        t_video_course.upload_time,
        t_video_course.teacher_user_id,
        t_video_course.watch_number,
        t_video_course.video_price,
        t_video_course.course_type_id
        FROM
        t_video_course
        WHERE
        t_video_course.course_type_id = 1
        ORDER BY
        t_video_course.watch_number DESC
        LIMIT 0, 1
    </select>

    <select id="findVideoCourseComprehensive" resultType="VideoCourse" parameterType="Integer">
        SELECT
        t_video_course.video_course_id,
        t_video_course.video_course_name,
        t_video_course.video_title,
        t_video_course.video_info,
        t_video_course.type_id,
        t_video_course.video_course_url,
        t_video_course.video_course_img_url,
        t_video_course.upload_user_id,
        t_video_course.upload_time,
        t_video_course.teacher_user_id,
        t_video_course.watch_number,
        t_video_course.video_price,
        t_video_course.course_type_id
        FROM
        t_video_course
        <if test="typeId != 0">
            WHERE
            t_video_course.type_id = #{typeId}
        </if>
        ORDER BY
        t_video_course.video_price DESC
    </select>

    <select id="findVideoCourseHottest" resultType="VideoCourse" parameterType="Integer">
        SELECT
        t_video_course.video_course_id,
        t_video_course.video_course_name,
        t_video_course.video_title,
        t_video_course.video_info,
        t_video_course.type_id,
        t_video_course.video_course_url,
        t_video_course.video_course_img_url,
        t_video_course.upload_user_id,
        t_video_course.upload_time,
        t_video_course.teacher_user_id,
        t_video_course.watch_number,
        t_video_course.video_price,
        t_video_course.course_type_id
        FROM
        t_video_course
        <if test="typeId != 0">
            WHERE
            t_video_course.type_id = #{typeId}
        </if>
        ORDER BY
        t_video_course.watch_number DESC
    </select>

    <select id="findVideoCourseLatest" resultType="VideoCourse" parameterType="Integer">
        SELECT
        t_video_course.video_course_id,
        t_video_course.video_course_name,
        t_video_course.video_title,
        t_video_course.video_info,
        t_video_course.type_id,
        t_video_course.video_course_url,
        t_video_course.video_course_img_url,
        t_video_course.upload_user_id,
        t_video_course.upload_time,
        t_video_course.teacher_user_id,
        t_video_course.watch_number,
        t_video_course.video_price,
        t_video_course.course_type_id
        FROM
        t_video_course
        <if test="typeId != 0">
            WHERE
            t_video_course.type_id = #{typeId}
        </if>
        ORDER BY
        t_video_course.upload_time DESC
    </select>

    <select id="findSingleVideoCourseComprehensive" resultType="VideoCourse" parameterType="Integer">
        SELECT
        t_video_course.video_course_id,
        t_video_course.video_course_name,
        t_video_course.video_title,
        t_video_course.video_info,
        t_video_course.type_id,
        t_video_course.video_course_url,
        t_video_course.video_course_img_url,
        t_video_course.upload_user_id,
        t_video_course.upload_time,
        t_video_course.teacher_user_id,
        t_video_course.watch_number,
        t_video_course.video_price,
        t_video_course.course_type_id
        FROM
        t_video_course
        <where>
            t_video_course.course_type_id = 1
            <if test="typeId != 0">
                AND t_video_course.type_id = #{typeId}
            </if>
        </where>
        ORDER BY
        t_video_course.video_price DESC
    </select>

    <select id="findSingleVideoCourseHottest" resultType="VideoCourse" parameterType="Integer">
        SELECT
        t_video_course.video_course_id,
        t_video_course.video_course_name,
        t_video_course.video_title,
        t_video_course.video_info,
        t_video_course.type_id,
        t_video_course.video_course_url,
        t_video_course.video_course_img_url,
        t_video_course.upload_user_id,
        t_video_course.upload_time,
        t_video_course.teacher_user_id,
        t_video_course.watch_number,
        t_video_course.video_price,
        t_video_course.course_type_id
        FROM
        t_video_course
        <where>
            t_video_course.course_type_id = 1
            <if test="typeId != 0">
                AND t_video_course.type_id = #{typeId}
            </if>
        </where>
        ORDER BY
        t_video_course.watch_number DESC
    </select>

    <select id="findSingleVideoCourseLatest" resultType="VideoCourse" parameterType="Integer">
        SELECT
        t_video_course.video_course_id,
        t_video_course.video_course_name,
        t_video_course.video_title,
        t_video_course.video_info,
        t_video_course.type_id,
        t_video_course.video_course_url,
        t_video_course.video_course_img_url,
        t_video_course.upload_user_id,
        t_video_course.upload_time,
        t_video_course.teacher_user_id,
        t_video_course.watch_number,
        t_video_course.video_price,
        t_video_course.course_type_id
        FROM
        t_video_course
        <where>
            t_video_course.course_type_id = 1
            <if test="typeId != 0">
                AND t_video_course.type_id = #{typeId}
            </if>
        </where>
        ORDER BY
        t_video_course.upload_time DESC
    </select>

    <select id="findVideoCourseByCourseSysId" resultType="VideoCourse" parameterType="Integer">
        SELECT
        t_video_course.video_course_id,
        t_video_course.video_course_name,
        t_video_course.video_title,
        t_video_course.video_info,
        t_video_course.type_id,
        t_video_course.video_course_url,
        t_video_course.video_course_img_url,
        t_video_course.upload_user_id,
        t_video_course.upload_time,
        t_video_course.teacher_user_id,
        t_video_course.watch_number,
        t_video_course.video_price,
        t_video_course.course_type_id
        FROM
        t_video_course
        RIGHT JOIN t_sys_video ON t_video_course.video_course_id = t_sys_video.video_course_id
        WHERE t_sys_video.course_sys_id = #{courseSysId}
    </select>
</mapper>